@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Open+Sans:wght@700&family=Poppins:wght@600&family=Roboto&display=swap');
* {
    /* background-color: #21211f; */
    color: white;
    margin: 0;
}

body {
    background-image: linear-gradient(#21211f, #21211f);
}

/* HEADER STYLING */

.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    transition: 0.6s;
    padding: 20px 0px;

    background: black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.Header.Header--scrolled {
    transition: 0.6s ease-out;
    padding: 0px 0px;
}

.Header--scrolled .Header--title {
    transition: 0.6s ease-in;
    font-size: 0px;
}

.Header--title {
    transition: 0.6s;
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    text-align: center;
}

.Header--scrolled-title {
    font-size: 0px;
}

.Header--title-button {
    text-decoration: none;
}

.Header--action-buttons {
    font-size: 18px;
    text-decoration: none;
}

.Header--buttons-container {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    gap: 40px;
    justify-content: center;
}

/* Search bar */

.Header--search-button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.Header--search {
    background-color: black;
    border-style: none;
    color: black;
    font-family: 'Montserrat';
    text-decoration: none;
    padding: 0;
    font-size: 16px;
    visibility: hidden;
    width: 0px;
    transition: 1s;
    border-radius: 10px;
    outline: none;
}

.Header--search.active {
    background-color: white;
    padding: 0px 10px;
    transition: 1s;
    width: 300px;
    visibility: visible;
}

/* HOMEPAGE STYLING */

/* hero section */
.homepage--hero-container {
    margin-top: 4em;
    position: relative;
}

.homepage--hero-image {
    width: 100%;
    height: auto;
}

.homepage--hero-text-container {
    max-height: 300px;
    position: absolute;
    top: 36%;
    left: 75%;
}

.homepage--hero-title {
    margin: 20px 0px;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Poppins';
}

.homepage--hero-tagline {
    margin: 20px 0px;
    font-size: 18px;
    font-weight: 100;
    font-family: 'Montserrat';
}

.homepage--action-button {
    margin: 5px 0px;
    /* margin-left: 50%; */
    /* transform: translateX(-50%); */
    background-color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;

    color: #21211f;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Montserrat';
}

/* feature section */

.homepage--features {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: auto auto auto;
    align-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

.homepage--image {
    margin: 25px;
    max-width: 500px;
    height: auto;
}

.homepage--features-description {
    text-align: center;
    font-size: 21px;
    font-weight: 100;
    line-height: 30px;
    font-family: 'Montserrat';
}

/* FOOTER STYLING */

.Footer {
    width: 100%;
    background-color: #313131;
    font-family: 'Roboto';
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px;
}

.Footer--container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 20px;
}

.Footer--input {
    width: 200px;
}

.Footer--action-buttons {
    padding: 50px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.Footer--social-media {
    padding: 50px;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.Footer-element {
    text-decoration: none;
    padding: 10px 0px;
}

.Footer--vertical-line {
    width: 2px;
    border-radius: 10px;
    height: 200px;
    background-color: white;
}

.Footer--newsletter {
    padding: 50px;
    flex: 2 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Footer--newsletter-input {
    width: 427px;
    font-family: 'Montserrat';
    padding: 0;
    font-size: 16px;
    color: black;
    padding: 6px;
    outline: none;
    border-style: none;
    text-align: center;
}

.Footer--newsletter-button {
    padding: 4px;
    width: 439px;
    height: 31px;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 16px;
    color:#313131;
    border-style: none;
    cursor: pointer;
}